<br />
<!-- Table of User -->
<mat-card class="restic">
  <div class="style-title">Restricción de usuarios</div>
  <mat-card-content>
    <div class="form-group text-right">
      <mat-icon class="searcher-btn">search</mat-icon>
      <input
        type="text"
        (keyup)="applyFilter($event)"
        placeholder="Buscar por usuario"
      />
    </div>

    <table class="table" matSort>
      <thead class="bg-primary">
        <tr class="text-end text-color">
          <th scope="col">ID</th>
          <th>IDSSFF del usuario</th>
          <th scope="col">
            Tiene las 2 dosís de vacuna
            <div class="row">
              <div class="cli-form-element col-f-fill">
                <div class="cli-input-file">

                  <button type="button"
                          class="btn btn-outline-success"
                          (click)="exportData()"
                          >
                    Descargar archivo
                    <mat-icon class="searcher-btn">upload_file</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </th>
          <th scope="col">Cumple las condiciones</th>
        </tr>
      </thead>

      <tbody>
        <tr
          [ngClass]="{ 'newsite-tr': !user.idssff, inactivesite: !user.value }"
          *ngFor="let user of listUsuario; let i = index"
        >
          <td >{{i+1 }}</td>
          <td *ngIf="user.idssff">{{ user.idssff }}</td>
          <td *ngIf="!user.idssff">
            <input class="input-msite" [(ngModel)]="user.value" />
          </td>
          <td>
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <mat-checkbox class="nomargin" [(ngModel)]="user.value">{{
                user.value ? "SI" : "NO"
              }}</mat-checkbox>
            </div>
          </td>
          <td>NO</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
