
table {
  width: 100%;
  margin-top: 10px;
}

th{
  width: 25%;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
}

.botonAgregar{
flex: 1 1 auto;
}

.userSearch{
  text-align: right;
}

.searcher-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border: none;
  position: relative;
  float: right;
}

.center-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border: none;
  position: relative;
  float: right;
}

.text-color{
  color:white
}

.user-btn{
text-align: center;
}

.close-file{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  float: right;
}

.form-group{
  margin-bottom: 0rem;
}

.text-file{
  color: crimson;
}


.container-table{
  max-width   : 100%;
  overflow-x  : auto;
}
