.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.clear-btn{
  position: relative;
  float: right;
  font-weight: bold;
  color: #ff000094;
}

.style-title{
  text-align: center;
}
