<!-- Modal Nueva resticción -->
<mat-card-content>
  <div class="container">
    <form [formGroup]="_restriccionForm" (submit)="onSubmit()">
      <div (click)="onNoClick()">
        <mat-icon class="cursor-pointer clear-btn">clear</mat-icon>
      </div>
      <br />
      <div class="style-title">Nueva restricción</div>

      <mat-form-field class="example-full-width">
        <div class="form-group">
          <label for="exampleFormControlInput1"
            >Nombre de la restricción:</label
          >
          <input type="text" class="form-control"
                 formControlName="name" />
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Seleccione:</label>
          <select class="form-control"
                  formControlName="value">
            <option>NO</option>
            <option>SI</option>
          </select>
        </div>
      </mat-form-field>

      <mat-form-field class="example-full-width" >
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Descripción:</label>
          <textarea
            class="form-control"
            rows="4"
            formControlName="description"
          ></textarea>
        </div>
      </mat-form-field>

      <!-- Boton guardar en el Modal -->
      <div class="row">
        <div class="col-12 text-right">
          <button mat-raised-button
                  color="accent"
                  (click)="saveRestriction()">
            <mat-icon>save</mat-icon> Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</mat-card-content>
