<!-- TABLA -->
<div class="container">
  <div class="style-title">Lista de restricciones</div>

  <div class="row">
    <div class="col-12 mt-2 mb-2 text-right">
      <button mat-stroked-button color="primary" (click)="addRestriccion()">
        <mat-icon>add</mat-icon>Nueva Restricción
      </button>
    </div>
  </div>

  <div class="container-table">
    <table class="table">
      <thead class="bg-primary">
        <tr class="text-color">
          <th>id</th>
          <th>Nombre de restricción</th>
          <th class="text-pais">País</th>
        </tr>
      </thead>

      <tbody>
        <tr
          [ngClass]="{ 'newsite-tr': !i, inactivesite: !restriction.value }"
          *ngFor="let restriction of RestriccionList; let i = index"
        >
          <td>{{ i + 1 }}</td>
          <td>{{ restriction.name }}</td>

          <td>
            <div class="check-restric"
            >
              <mat-checkbox [(ngModel)]="restriction.value">
                {{restriction.value ? "SI" : "NO"}}</mat-checkbox>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
